/*global.css*/

body {
    font-family: SimHei;
    background: url("../imgs/irongrip.png") repeat #444444;
}
a {
    cursor: pointer;
}
.myhide {
    display: none;
}

/*登陆页样式*/
.login {
    padding-top: 80px;
    font-family: "Microsoft YaHei";
}
.login .form-signin {
  max-width: 330px;
  padding: 20px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 3px;
}
.login .form-signin .form-signin-heading,
.login .form-signin .checkbox {
  margin-bottom: 10px;
}
.login .form-signin .checkbox {
  font-weight: normal;
}
.login .form-signin input[type="text"],
.login .form-signin input[type="password"],
.login .form-signin input[type="email"] {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  margin-bottom: 10px;
}
.login .form-signin input[type="text"]:focus,
.login .form-signin input[type="password"]:focus,
.login .form-signin input[type="email"]:focus {
  z-index: 2;
}
.login .form-signin input.top {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.login .form-signin input.middle {
  margin-bottom: -1px;
  border-radius: 0;
}
.login .form-signin input.bottom {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/*Heeking页*/
.container {
    margin-top: 30px;
    padding: 0 100px;
}

.panel-body {
    height: 480px;
}

/*主面板*/
.main_panel {
    margin-right: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
}
.main_panel .panel-heading {
    position: relative;
}
.main_panel .panel-body {
    padding: 0;
}

.main_panel .panel-footer ul {
    margin-bottom: 0;
    padding: 7px 0;
    height: 100%;
}
.main_panel .panel-footer li {
    padding: 0;
    width: 48%;
    cursor: pointer;
    text-align: center;
}
.main_panel .panel-footer li.active {
    font-weight: bold;
    color: #428bca;
}

.main_panel .search_bar {
    padding: 10px 15px;
    border-bottom: 1px solid #ddd;
    background-color: #f5f5f5;
}
.main_panel .search_bar input[type="text"] {
    height: 28px;
    padding-left: 26px;
    border-radius: 20px;
    font-size: 12px;
}

.main_panel .username {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}



/*会话，好友列表*/
.chat_list,
.addr_list {
    height: 430px;
    overflow: auto;
}
.addr_list {
    padding-top: 6px;
}
.chat_list li.media,
.addr_list li.media {
    margin: 0;
    padding: 6px 10px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    overflow: hidden;
}
.addr_list li.media {
    padding: 6px 20px;
    border-bottom: 0;
}

.chat_list li.media:hover,
.addr_list li.media:hover {
    background-color: #f5f5f5;
}
.chat_list li.media.active {
    background-color: #428bca;
}

.chat_list .avatar_wrap img {
    height: 44px;
}
.addr_list .avatar_wrap img {
    height: 40px;
}
.addr_list .info{
    vertical-align: middle;
}


/*聊天面板*/
.chat_panel {
    border-radius: 4px;
    box-shadow: 3px 5px 12px rgba(0,0,0,.5);
}
.chat_panel .panel-body {
    overflow: auto;
}
.chat_panel .chat_input .form-group {
    margin-bottom: 0;
}
.chat_panel .chat_input .func {
    padding-right: 0;
}
.chat_panel .chat_input .send {
    padding-left: 0;
}
.chat_panel .chat_input .send button {
    width: 100%;
}

/*当前消息列表*/
.message {
    max-width: 535px;
    word-break: break-all;
}

.my_message .avatar_wrap,
.my_message .message {
    float: right;
    margin-bottom: 0;
}

.message_list .avatar_wrap img {
    height: 40px;
}


/*弹窗*/
#add_friend .modal-dialog {
    margin-top: 50px;
    width: 500px;
}
#logout .modal-dialog {
    margin-top: 50px;
}

#friend_info .modal-dialog {
    margin-top: 100px;
    width: 550px;
}
#friend_info .media-body p {
    /*margin-top: 30px;*/
}
#friend_info .modal-footer {
    text-align: center;
}
#friend_info .chatnow {
    padding-left: 20px;
    padding-right: 20px;
}




/*动画效果*/
@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 0.2;
    }
    40% {
        opacity: 0.4;
    }
    60% {
        opacity: 0.6;
    }
    80% {
        opacity: 0.8;
    }
    100% {
        opacity: 1;
    }
}
@-webkit-keyframes fadeOut {
    0% {
        opacity: 1;
    }
    20% {
        opacity: 0.8;
    }
    40% {
        opacity: 0.6;
    }
    60% {
        opacity: 0.4;
    }
    80% {
        opacity: 0.2;
    }
    100% {
        opacity: 0;
    }
}
@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 0.2;
    }
    40% {
        opacity: 0.4;
    }
    60% {
        opacity: 0.6;
    }
    80% {
        opacity: 0.8;
    }
    100% {
        opacity: 1;
    }
}
@-moz-keyframes fadeOut {
    0% {
        opacity: 1;
    }
    20% {
        opacity: 0.8;
    }
    40% {
        opacity: 0.6;
    }
    60% {
        opacity: 0.4;
    }
    80% {
        opacity: 0.2;
    }
    100% {
        opacity: 0;
    }
}
.chat_panel.ng-enter {
    animation: fadeIn 0.2s;
    -webkit-animation: fadeIn 0.2s;
    -moz-animation: fadeIn 0.2s;
}
.chat_panel.ng-leave {
    animation: fadeOut 0.2s;
    -webkit-animation: fadeOut 0.2s;
    -moz-animation: fadeOut 0.2s;
}

.form-signin .tag.ng-hide-remove {
    animation: fadeIn 0.3s;
    -webkit-animation: fadeIn 0.3s;
    -moz-animation: fadeIn 0.3s;
}
